<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445864982721-c0mkab60ir7h2jdqjcck64rahr2ff423.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445864982721-c0mkab60ir7h2jdqjcck64rahr2ff423</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>445864982721-f6kpomlohr1jpmmjgnhfhj6dul8oflnp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5z9S5lkTMMkaqmtvuWBNGdDK0OMVA34g</string>
	<key>GCM_SENDER_ID</key>
	<string>445864982721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gacha.quizapp</string>
	<key>PROJECT_ID</key>
	<string>phonestore-ceaf4</string>
	<key>STORAGE_BUCKET</key>
	<string>phonestore-ceaf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445864982721:ios:4383f7d978d3d776ddbc40</string>
	<key>DATABASE_URL</key>
	<string>https://phonestore-ceaf4-default-rtdb.firebaseio.com</string>
</dict>
</plist>